.main-div {
  width: 100%;
  height: 100vh;
  background: #6983aa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-div {
  width: 35%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px --5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 7px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.add-to-list-button {
  min-height: 40px;
  width: 50px;
  border-radius: 15%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.add-to-list-button:hover {
  background-color: #20bf6b;
}

.todo-style {
  width: 295px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  color: aliceblue;
}

ol {
  margin-top: 30px;
}

ol li {
  border-bottom: 2px solid #8566aa;
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  min-width: 180px;
  display: flex;
  align-items: center;
  color: #8566aa;
}

.delete-button {
  margin-top: 10px;
  width: 2rem;
  border-radius: 15%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.delete-button:hover {
  background-color: crimson;
}

.edit-button {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 1.8rem;
  width: 2rem;
  border-radius: 15%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.edit-button:hover {
  background-color: #20bf6b;
}

.fonts {
  margin-left: 1rem;
}

@media (max-width: 512px) {
  .todo-style {
    margin-left: -10px;
  }
}

@media (max-width: 1200px) {
  .center-div {
    min-width: 350px;
  }
}
